.App {
  text-align: left;
  width: 100%;
  min-height: 100vh;
}

.product {
  display: flex;
  margin: 5.625rem min(13.25rem, 14.27vw);
  gap: 4rem;

  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .product {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .product {
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: unset;
  }
}
