.Gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 27.75rem;
}

.mainImage {
  width: 100%;
  border-radius: 1.125rem;
}

.thumbnailList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

.thumbnailContainer {
  cursor: pointer;
}

.thumbnail {
  width: 5.5rem;
  border-radius: 0.625rem;
  transition: var(--transition-slow);
}

.thumbnail:hover {
  opacity: 0.75;
}

.active {
  outline: 3px solid var(--color-primary-orange);

  opacity: 0.6;
}

.mobileGalleryButton {
  display: none;
}

@media screen and (max-width: 768px) {
  .Gallery {
    height: 18.75rem;
    position: relative;
    overflow-y: hidden;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .thumbnailList {
    display: none;
  }

  .mainImage {
    border-radius: 0;
    position: absolute;
  }

  .mobileGalleryButton {
    display: flex;
    z-index: 5;
    align-items: center;
    justify-content: center;
    padding: 0.875rem 1rem;
    width: fit-content;
    height: fit-content;
    border-radius: 100px;
    background-color: var(--color-neutral-white);
    border: none;
    outline: none;
    margin: 0 1rem;
  }

  .mobileButtonIcon {
    padding: 0;
    transform: scale(0.75);
  }
}
