.QuantityInput {
  display: flex;
  justify-content: space-between;
  padding: 1.375rem 1rem;
  background-color: var(--color-neutral-light-grayish-blue);
  border-radius: 0.625rem;
  align-items: center;
  width: 9.75rem;
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
  height: min-content;
  width: min-content;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.counter {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 3rem;
  text-align: center;
  outline: none;
}

.counter::-webkit-inner-spin-button {
  display: none;
}

.icon {
  fill: var(--color-primary-orange);
}

.button:hover .icon {
  fill: hsla(27, 100%, 71%, 1);
}

@media screen and (max-width: 768px) {
  .QuantityInput {
    box-sizing: border-box;
    position: static;
    width: 100%;
    height: 3.5rem;
    padding: 0 1.5rem;
    gap: 0;
  }
}
